.main_page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.coins_list {
    width: 1000px;
}
.high__low {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}